html, body {
    height: 100%;
    margin: 0;
  }
  #c {
    width: 100%;
    height: 100%;
    display: block;
    
  }

  #ui {
    position: absolute;
    bottom: 2px;
    background: rgba(217, 217, 217, 0.8);
    padding: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 33.5%;
}
  #ui input[type=radio] {
    width: 0;
    height: 0;
    display: none;
  }
  #ui input[type=radio] + label {
    background-image: url('https://threejs.org/manual/examples/resources/images/minecraft/flourish-cc-by-nc-sa.png');
    background-size: 1600% 400%;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    display: inline-block;
  }
  #ui input[type=radio]:checked + label {
    outline: 3px solid red;
  }
  @media (max-width: 600px), (max-height: 600px) {
    #ui input[type=radio] + label {
      width: 32px;
      height: 32px;
    }
  }